body{
    background: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18pt;

    text-align: center;
 
}

.loading{
    width: 500px;
    height: 500px;
    
    margin: auto;

    border: 3px solid white;
    border-top: 3px solid purple;
    border-radius: 50%;

    animation: spin 3s linear infinite;

    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;

}

p{
    font-weight: bold;
    text-shadow:  1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
}

.text{
    margin: auto;
    letter-spacing: .4rem;
    
    position: relative;
    transition: all 6s;

    width: 200px;
    height: 50px;

   

}

@keyframes move{
    from{left: 0%}
    to{left: 100%;}
}


@keyframes spin{
        to{
            transform: rotate(360deg);
        }
}