body{
    margin: 0;
    padding: 0;
    background: #080b19;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.explosion{
    width: 20px;
    height: 20px;
    background: rgba(0, 176, 255, 1);
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 176, 255, 1),
                0 0 40px rgba(0, 176, 255, 1),
                0 0 60px rgba(0, 176, 255, 1),
                0 0 80px rgba(0, 176, 255, 1),
                0 0 160px rgba(0, 176, 255, 1),
                0 0 240px rgba(0, 176, 255, 1),
                0 0 420px rgba(0, 176, 255, 1);
    transition: 2s;
}

.explosion:hover{
    box-shadow: 0 0 0 30px rgba(0, 176, 255, .1),
                0 0 0 60px rgba(0, 176, 255, .1),
                0 0 0 120px rgba(0, 176, 255, .1),
                0 0 0 180px rgba(0, 176, 255, .1),
                0 0 0 240px rgba(0, 176, 255, .1),
                0 0 0 360px rgba(0, 176, 255, .1),
                0 0 0 480px rgba(0, 176, 255, .1),
                0 0 0 720px rgba(0, 176, 255, .1),
                0 0 0 980px rgba(0, 176, 255, .1);
}