body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 10px 15px;
    border: 2px solid #000;
    background: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    overflow: hidden;
    text-transform: uppercase;
}

a span{
    font-size: 20px;
    color:#fff;
    mix-blend-mode: difference;
}

a:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: #000;
    animation: animate 4s linear infinite;
}


@keyframes animate
{

    0%{
        transform-origin: left;
        transform: scaleX(0);
    }
    50%{
        transform-origin: left;
        transform: scaleX(1);
    }
    51%{
        transform-origin: right;
        transform: scaleX(1);
    }
    100%{
        transform-origin: right;
        transform: scaleX(0);
    }


}